.data-pemilik-content {
  --background: #f8fafb;
  font-family: "Public Sans", "Noto Sans", sans-serif;
}

/* Form List */
.list-data-pemilik {
  padding: 0 30px;
  margin-top: 0px;
}

ion-item {
  --background: #e8eff3;
  --min-height: 42px;        /* lebih kecil dari default 56px */
  --padding-start: 10px;
  --inner-padding-end: 10px;
  --padding-top: 4px;
  --padding-bottom: 4px;

  border-radius: 8px;
  margin-bottom: 10px;
}

ion-label {
  font-size: 13px;
  font-weight: 500;
  color: #0e161b;
  margin-bottom: 2px;
}

ion-input,
ion-textarea,
ion-select {
  color: #0e161b;
  font-size: 14px;
  min-height: 24px;  /* biar input nggak bikin tinggi item */
}

ion-textarea {
  --padding-top: 4px;
  --padding-bottom: 4px;
  font-size: 14px;
}


/* Button */
.button-container {
  padding: 16px;
}

ion-button {
  --background: #63bce9;
  --color: #0e161b;
  font-weight: 600;
  --border-radius: 8px;
  font-size: 15px;
}