<ion-content class="data-pemilik-content">

  <ion-toolbar color="">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/petugas/pemilik"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isEditMode ? 'Edit Pemilik' : 'Tambah Pemilik Baru' }}</ion-title> 
  </ion-toolbar> 

  <!-- Error Messages -->
  <div class="alert-error" *ngIf="errors.length > 0">
    <ion-icon name="alert-circle-outline"></ion-icon>
    <div class="alert-content">
      <strong>Terjadi Kesalahan:</strong>
      <ul>
        <li *ngFor="let error of errors">{{ error }}</li>
      </ul>
    </div>
  </div>

  <!-- Form Input -->
  <form (ngSubmit)="onSubmit()">
    <ion-list lines="none" class="list-data-pemilik">
      
      <ion-label position="stacked" class="form-label">NIK *</ion-label>
      <ion-item>
        <ion-input 
          type="text" 
          placeholder="Masukkan NIK (16 digit)"
          [(ngModel)]="form.nik"
          name="nik"
          maxlength="16"
          required>
        </ion-input>
      </ion-item> 

      <ion-label position="stacked">Nama Lengkap *</ion-label>
      <ion-item> 
        <ion-input 
          type="text" 
          placeholder="Masukkan Nama Lengkap"
          [(ngModel)]="form.nama_peternak"
          name="nama_peternak"
          required>
        </ion-input>
      </ion-item>

      <ion-label position="stacked">Jenis Kelamin *</ion-label>
      <ion-item>
        <ion-select 
          placeholder="Pilih Jenis Kelamin"
          [(ngModel)]="form.jenis_kelamin"
          name="jenis_kelamin"
          required>
          <ion-select-option value="Laki-laki">Laki-laki</ion-select-option>
          <ion-select-option value="Perempuan">Perempuan</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-label position="stacked">Tanggal Lahir *</ion-label>
      <ion-item>
        <ion-datetime 
          presentation="date"
          placeholder="Pilih Tanggal Lahir"
          [(ngModel)]="form.tanggal_lahir"
          name="tanggal_lahir"
          display-format="DD/MM/YYYY"
          required>
        </ion-datetime>
      </ion-item>

      <ion-label position="stacked">Nomor HP *</ion-label>
      <ion-item>
        <ion-input 
          type="tel" 
          placeholder="Masukkan Nomor HP (08xxxxxxxxxx)"
          [(ngModel)]="form.no_telp"
          name="no_telp"
          required>
        </ion-input>
      </ion-item>

      <!-- WILAYAH / DESA -->
      <ion-label position="stacked">Desa / Wilayah *</ion-label>
      <ion-item>
        <ion-select 
          placeholder="Pilih Desa"
          [(ngModel)]="form.wilayah_id"
          name="wilayah_id"
          interface="alert"
          required>
          <ion-select-option *ngFor="let w of wilayahList" [value]="w.id">
            {{ w.nama_desa }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-label position="stacked">Alamat *</ion-label>
      <ion-item>
        <ion-textarea 
          autoGrow="true" 
          placeholder="Masukkan Alamat Lengkap"
          [(ngModel)]="form.alamat"
          name="alamat"
          rows="3"
          required>
        </ion-textarea>
      </ion-item>
      
    </ion-list>

    <!-- Tombol Simpan -->
    <div class="button-container">
      <ion-button class="btn-save" expand="block" color="success" type="submit">
        <ion-icon name="save-outline" slot="start"></ion-icon>
        {{ isEditMode ? 'Update Data' : 'Simpan Data' }}
      </ion-button>
      
      <ion-button class="btn-cancel" expand="block" color="danger" (click)="goBack()" type="button">
        <ion-icon name="close-outline" slot="start"></ion-icon>
        Batal
      </ion-button>
    </div>
  </form>
  
</ion-content>