<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/petugas/pemilik" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Pemilik</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="detail-pemilik-page">

  <div class="pemilik-info">
    <h2>Bapak Ahmad</h2>
    <P>Nik : 123456789097</P>

  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Informasi Pemilik</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- <div class="info-item">
        <p class="label">Nama</p>
        <p class="value">Bapak Ahmad</p>
      </div> -->

      <div class="info-item">
        <p class="label">Alamat</p>
        <p class="value">Desa Ciptasari, Karawang</p>
      </div>

      <div class="info-item">
        <p class="label">Nomor HP</p>
        <p class="value">081245637</p>
      </div>

      <div class="info-item">
        <p class="label">Jenis Kelamin</p>
        <p class="value">Laki-Laki</p>
      </div>

       <div class="info-item">
        <p class="label">Tanggal Lahir </p>
        <p class="value">34 Februari 1900</p>
      </div>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Hewan Ternak</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="hewan-item">
        <ion-icon name="paw-outline"></ion-icon>
      <div>
      <p class="nama-hewan">Ruminansia</p>
      <p class="jenis-hewan">Sapi</p>
      </div>
      </div>

      <div class="hewan-item">
        <ion-icon name="paw-outline"></ion-icon>
        <div>
          <p class="nama-hewan">Kambing Boer</p>
          <p class="jenis-hewan">Kambing</p>
        </div>
      </div>

    </ion-card-content>
   </ion-card> 
<!-- 
    </ion-card-content>
  </ion-card> -->

  <ion-card>
    <ion-card-header>
      <ion-card-title>Kandang</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="kandang-item">
        <ion-icon name="home-outline"></ion-icon>
        <p>Kandang Sapi</p>
      </div>
      <div class="kandang-item">
        <ion-icon name="home-outline"></ion-icon>
        <p>Kandang Kambing</p>
      </div>
    </ion-card-content>
  </ion-card>
  
</ion-content>