<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/petugas/mutasi"></ion-back-button>
    </ion-buttons>
    <ion-title>Mutasi Hewan (pindah)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2 class="judul-section">Input Data Pemindahan Hewan</h2>

  <!-- ID Hewan -->
  <ion-item lines="none" class="input-item">
    <ion-label position="stacked">ID Hewan</ion-label>
    <ion-input placeholder="Masukkan ID Hewan" [(ngModel)]="idHewan"></ion-input>
  </ion-item>

  <ion-item lines="none" class="input-item">
    <ion-label position="stacked">Kelompok Hewan</ion-label>
    <ion-input placeholder="Masukkan Kelompok" [(ngModel)]="idHewan"></ion-input>
  </ion-item>

  <ion-item lines="none" class="input-item">
    <ion-label position="stacked">Jenis Hewan</ion-label>
    <ion-input placeholder="Masukkan Jenis Hewan" [(ngModel)]="idHewan"></ion-input>
  </ion-item>

  <ion-item lines="none" class="input-item">
    <ion-label position="stacked">Ras</ion-label>
    <ion-input placeholder="Masukkan Ras" [(ngModel)]="idHewan"></ion-input>
  </ion-item>

  <ion-item lines="none" class="input-item">
    <ion-label position="stacked">Umur</ion-label>
    <ion-input placeholder="Masukkan ID Hewan" [(ngModel)]="idHewan"></ion-input>
  </ion-item>

  <ion-item lines="none" class="input-item">
    <ion-label position="stacked">Berat Badan</ion-label>
    <ion-input placeholder="Masukkan Berat Badan" [(ngModel)]="idHewan"></ion-input>
  </ion-item>

  <!-- tanggal Pindah -->
  <ion-item class="input-item">
      <ion-label position="stacked">Tanggal Pindah</ion-label>
      <ion-input placeholder="Pilih Tanggal" type="date"></ion-input>
    </ion-item>

<!-- Alamat Asal -->
    <h3 class="sub-judul">Alamat Asal</h3>

    <!-- lokasi Manual -->

    <ion-item lines="none" class="input-item">
      <ion-label position="stacked">Alamat Asal</ion-label>
      <ion-input placeholder="Masukkan Alamat" [(ngModel)]="alamatAsal"></ion-input>
    </ion-item>

    <!-- lokasi asal otomatis -->
     <ion-item lines="none" class="input-item">
      <ion-label position="stacked">Koordinat Asal</ion-label>
      <ion-input palceholder="Koordinat akan muncul disini" [value]="latitudeAsal && longitudeAsal ? latitudeAsal + ',' + longitudeAsal : 'Belum ada koordinat'" readonly>"
      </ion-input>
     </ion-item>

     <ion-button expand="block" color="secondary" (click)="getLokasiAsal()" class="btn-lokasi">
      <ion-icon name="location" slot="start"></ion-icon>
      Dapatkan Lokasi Asal
     </ion-button>

  <!-- Alamat Tujuan -->
   <h3 class="sub-judul">Lokasi Tujuan</h3>

   <!-- lokasi tujuan manual -->
    <ion-item lines="none" class="input-item">
      <ion-label position="stacked">Alamat Tujuan</ion-label>
      <ion-input placeholder="Masukkan Alamat Tujuan" [(ngModel)]="alamatTujuan"></ion-input>
    </ion-item>

    <!-- Lokasi tujuan otomatis -->
    <ion-item lines="none" class="input-item">
      <ion-label position="stacked">Koordinat Tujuan</ion-label>
      <ion-input palceholder="Koordinat akan muncul disini" [value]="latitudeTujuan && longitudeTujuan ? latitudeTujuan + ',' + longitudeTujuan : 'Belum ada koordinat'" readonly>"
      </ion-input>
    </ion-item>

    <ion-button expand="block" color="secondary" (click)="getLokasiTujuan()" class="btn-lokasi">
      <ion-icon name="location" slot="start"></ion-icon>
      Dapatkan Lokasi Tujuan
    </ion-button>

    <!-- Deskripsi Tambahan  -->

    <ion-item lines="none" class="input-item">
      <ion-label position="stacked">Deskripsi Tambahan (Opsional)</ion-label>
      <ion-textarea
        placeholder="Tambahkan deskripsi tambahan"
        autoGrow="true"
        [(ngModel)]="deskripsi">
      </ion-textarea>
    </ion-item>

  <!-- Tombol Simpan -->
  <div class="btn-container">
    <ion-button expand="block" color="primary" (click)="simpanData()">
      Simpan
    </ion-button>
  </div>

</ion-content>
