.profile-content {
  --background: #f9fafb;
  padding: 16px;
}

.header-profile{
  font-weight: bold;
  font-size: 20px;
  color: #111827;
  text-align: center;

}
.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.profile-avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.profile-info {
  margin-top: 12px;
  text-align: center;
}

.profile-info h2 {
  font-weight: bold;
  font-size: 20px;
  color: #111827;
}

.profile-info p {
  font-size: 14px;
  color: #6b7280;
}

.section {
  margin-bottom: 24px;
}

.section h3 {
  font-weight: bold;
  margin-bottom: 12px;
  font-size: 16px;
  color: #1f2937;
  margin-left:20px ;
}
