<ion-header class="custom-header">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Kasus Penyakit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-bg">

  <!-- Kasus 1 -->
  <ion-item 
    lines="none" 
    class="case-item" 
    [routerLink]="['/petugas/detail-penyakit']" 
    [queryParams]="{ status: 'waiting' }">
    <img src="assets/icon/penyakit2.jpg" alt="Penyakit Mulut dan Kuku" class="disease-image">
    <ion-label>
      <h2>Penyakit Mulut dan Kuku</h2>
      <p>Status: <span class="status waiting">Menunggu Verifikasi</span></p>
    </ion-label>
  </ion-item>

  <!-- Kasus 2 -->
  <ion-item 
    lines="none" 
    class="case-item" 
    [routerLink]="['/petugas/detail-penyakit']" 
    [queryParams]="{ status: 'rejected' }">
    <img src="assets/icon/penyakit3.jpg" alt="Mastitis pada Sapi Perah" class="disease-image">
    <ion-label>
      <h2>Mastitis pada Sapi Perah</h2>
      <p>Catatan Admin: Data tidak lengkap</p>
      <p>Status: <span class="status rejected">Ditolak</span></p>
    </ion-label>
  </ion-item>

  <!-- Kasus 3 -->
  <ion-item 
    lines="none" 
    class="case-item" 
    [routerLink]="['/petugas/detail-penyakit']" 
    [queryParams]="{ status: 'verified' }">
    <img src="assets/icon/penyakit2.jpg" alt="Demam Tiga Hari" class="disease-image">
    <ion-label>
      <h2>Demam Tiga Hari</h2>
      <p>Catatan Admin: Data sudah sesuai</p>
      <p>Status: <span class="status verified">Terverifikasi</span></p>
    </ion-label>
  </ion-item>

  <!-- Kasus 4 -->
  <ion-item 
    lines="none" 
    class="case-item" 
    [routerLink]="['/petugas/detail-penyakit']" 
    [queryParams]="{ status: 'waiting' }">
    <img src="assets/icon/penyakit3.jpg" alt="Anthrax pada Domba" class="disease-image">
    <ion-label>
      <h2>Anthrax pada Domba</h2>
      <p>Status: <span class="status waiting">Menunggu Verifikasi</span></p>
    </ion-label>
  </ion-item>

</ion-content>