<ion-header>
  <ion-toolbar color="light">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/petugas/kegiatan" text=""></ion-back-button>
    </ion-buttons>

    <ion-title>Detail Kegiatan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" class="list-section">
    <!-- kegiatan -->
    <h2 class="section-title">Kegiatan</h2>
    <ion-item>
      <ion-icon name="calendar-outline" slot="start" class="icon-bg"></ion-icon>
      <ion-label>{{kegiatan?.jenis}}</ion-label>
    </ion-item>

    <!-- Date -->
    <ion-item>
      <ion-icon name="calendar-outline" slot="start" class="icon-bg"></ion-icon>
      <ion-label>{{kegiatan?.tanggal}}</ion-label>
    </ion-item>


     <!-- timing -->
    <ion-item>
      <ion-icon name="time-outline" slot="start" class="icon-bg"></ion-icon>
      <ion-label>{{ kegiatan?.jam_mulai }} - {{ kegiatan?.jam_selesai }}</ion-label>
    </ion-item>

      <!-- lokasi -->
      <ion-item>
        <ion-icon name="location-outline" slot="start" class="icon-bg"></ion-icon>
        <ion-label>{{ kegiatan?.lokasi }}</ion-label>
      </ion-item>

       <!-- deskripsi -->
      <h2 class="section-title">Deskripsi</h2>
        <p class="desc-text">{{ kegiatan?.deskripsi }}</p>


      <!-- petugas -->
      <h2 class="section-title">Petugas</h2>
      <ion-item>
      <!-- <ion-avatar slot="start">
        <img src="https://lh3.googleusercontent.com/aida-public/AB6AXuC9KtxegrlyxptesDIUikoXQ9x0uQXc9krsNn2RaJDiqlQsYuFzNYzw7jszyo1WQfsC7ApyC0_8cyaFx6PsWBetxrGdQ6evKZ7HNHMGFwANzYAd_tMNUNF5qgkY5zm-0UFjXFIuacquqqv3rcxXWNd62IkShAGHi8bYnx_rPzgmjBzVIyxuF3obn1_reNUxG7nH59U-tDr1XG-bmSfv7eRiAc5aIdm96RYkOJTfneiXRyPLCCvo0mhhHGRs9glQMS6cVAAy3bKgv1v8">
      </ion-avatar> -->
      <ion-label>{{ kegiatan?.petugas?.nama }}</ion-label>
      </ion-item>

      <!-- status -->
      <h2 class="section-title">Status</h2>
      <ion-item>
        <ion-icon name="ellipse-outline" slot="start" class="icon-bg"></ion-icon>

        <ion-label>
          <span *ngIf="kegiatan?.status_aktual === 'terlambat'" class="badge badge-danger">
            Terlambat
          </span>

          <span *ngIf="kegiatan?.status_aktual !== 'terlambat'">
            {{ kegiatan?.status }}
          </span>
        </ion-label>
      </ion-item>

      <!-- FOTO LAPORAN (JIKA SELESAI) -->
      <div *ngIf="kegiatan?.status === 'selesai' && kegiatan?.laporan_kegiatan?.length > 0">
        <h2 class="section-title">Foto Laporan</h2>
        <ion-grid>
          <ion-row>
            <ion-col size="6"
              *ngFor="let laporan of kegiatan.laporan_kegiatan">
              <ion-card class="photo-card">
                <img
                  [src]="getFotoUrl(laporan.foto)"
                  class="photo-img"
                  alt="Foto Laporan"
                />
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
  </ion-list>

  <!-- button -->
    <div class="button-container"
        *ngIf="kegiatan?.status === 'terjadwal' && !kegiatan?.terkunci_mulai">
      <ion-button expand="block" color="secondary" (click)="mulai()">
        Mulai Kegiatan
      </ion-button>
    </div>


</ion-content>