<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/petugas/mutasi"></ion-back-button>
    </ion-buttons>
    <ion-title>Mutasi Hewan (Hilang)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2 class="judul-section">Input Mutasi Hewan Hilang</h2>

  <!-- ID Hewan -->
  <ion-item lines="none" class="input-item">
    <ion-label position="stacked">ID Hewan</ion-label>
    <ion-input placeholder="Masukkan ID Hewan" [(ngModel)]="idHewan"></ion-input>
  </ion-item>

   <ion-item lines="none" class="input-item">
    <ion-label position="stacked">Kelompok Hewan</ion-label>
    <ion-input placeholder="Masukkan Kelompok Hewan" [(ngModel)]="idHewan"></ion-input>
  </ion-item>

   <ion-item lines="none" class="input-item">
    <ion-label position="stacked">Jenis Hewan</ion-label>
    <ion-input placeholder="Masukkan Jenis Hewan" [(ngModel)]="idHewan"></ion-input>
  </ion-item>

   <ion-item lines="none" class="input-item">
    <ion-label position="stacked">Ras</ion-label>
    <ion-input placeholder="Masukkan Ras" [(ngModel)]="idHewan"></ion-input>
  </ion-item>

   <ion-item lines="none" class="input-item">
    <ion-label position="stacked">Umur</ion-label>
    <ion-input placeholder="Masukkan Umur" [(ngModel)]="idHewan"></ion-input>
  </ion-item>

   <ion-item lines="none" class="input-item">
    <ion-label position="stacked">Berat Badan</ion-label>
    <ion-input placeholder="Masukkan Berat Badan" [(ngModel)]="idHewan"></ion-input>
  </ion-item>

  <!-- Tanggal Hilang -->
  <ion-item lines="none" class="input-item">
    <ion-label position="stacked">Tanggal Hilang</ion-label>
    <ion-input placeholder="Pilih Tanggal" type="date" [(ngModel)]="tanggalHilang"></ion-input>
  </ion-item>

  <!-- Lokasi Hilang -->
  <ion-item lines="none" class="input-item">
    <ion-label position="stacked">Lokasi Terakhir Terlihat</ion-label>
    <ion-input 
      placeholder="Koordinat akan muncul di sini" 
      [value]="latitude && longitude ? latitude + ', ' + longitude : 'Belum ada lokasi'" 
      readonly>
    </ion-input>
  </ion-item>

  <!-- Tombol Dapatkan Lokasi -->
  <ion-button expand="block" color="secondary" (click)="getLokasi()" class="btn-lokasi">
    <ion-icon name="location" slot="start"></ion-icon>
    Dapatkan Lokasi Saat Ini
  </ion-button>

  <!-- Deskripsi Tambahan -->
  <ion-item lines="none" class="input-item">
    <ion-label position="stacked">Deskripsi Kejadian (opsional)</ion-label>
    <ion-textarea
      placeholder="Tambahkan deskripsi kejadian"
      autoGrow="true"
      [(ngModel)]="deskripsi">
    </ion-textarea>
  </ion-item>

  <!-- Tombol Simpan -->
  <div class="btn-container">
    <ion-button expand="block" color="primary" (click)="simpanData()">
      Simpan
    </ion-button>
  </div>

</ion-content>