<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Daftar Kandang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="kandang-page">

  <!-- Pencarian dan Filter -->
  <div class="filter-section">
    <!-- Kolom pencarian -->
    <ion-item lines="none" class="search-item">
      <ion-icon name="search-outline" slot="start"></ion-icon>
      <ion-input placeholder="Cari kandang"></ion-input>
    </ion-item>

    <!-- Filter Desa -->
    <ion-item lines="none" class="filter-item">
      <ion-label>Filter Desa</ion-label>
      <ion-select interface="popover" placeholder="Pilih Desa">
        <ion-select-option value="Sukamaju">Desa Sukamaju</ion-select-option>
        <ion-select-option value="Mekarjaya">Desa Mekarjaya</ion-select-option>
        <ion-select-option value="Sukasari">Desa Sukasari</ion-select-option>
        <ion-select-option value="Karanganyar">Desa Karanganyar</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <!-- Daftar Kandang -->
  <ion-list class="kandang-list">

    <ion-item lines="none" class="kandang-item" button routerLink="/petugas/detail-kandang">
      <ion-avatar slot="start" class="foto-kandang">
        <img src="https://images.unsplash.com/photo-1556761175-4b46a572b786?w=600" alt="Kandang 1" />
      </ion-avatar>
      <ion-label>
        <h2>#12345</h2>
        <p>Bapak Ikin • Desa Sukamaju </p>
      </ion-label>
    </ion-item>

    <!-- <ion-item lines="none" class="kandang-item" button >
      <ion-avatar slot="start" class="foto-kandang">
        <img src="https://images.unsplash.com/photo-1602526432608-029a9f2c5a6b?w=600" alt="Kandang 2" />
      </ion-avatar>
      <ion-label>
        <h2>#67890</h2>
        <p>Bapak Ikin • Desa Sukamaju </p>
      </ion-label>
    </ion-item> -->

    <ion-item lines="none" class="kandang-item" button routerLink="/petugas/detail-kandang">
      <ion-avatar slot="start" class="foto-kandang">
        <img src="https://images.unsplash.com/photo-1571171637578-41bc2dd41cd2?w=600" alt="Kandang 3" />
      </ion-avatar>
      <ion-label>
        <h2>#11223</h2>
        <p>Bapak Ikin • Desa Sukamaju </p>
      </ion-label>
    </ion-item>

    <!-- <ion-item lines="none" class="kandang-item" button>
      <ion-avatar slot="start" class="foto-kandang">
        <img src="https://images.unsplash.com/photo-1617169083887-c0abaf0e95ef?w=600" alt="Kandang 4" />
      </ion-avatar>
      <ion-label>
        <h2>#33445</h2>
        <p>Bapak Ikin • Desa Sukamaju </p>
      </ion-label>
    </ion-item> -->

  </ion-list>

  <!-- Floating Add Button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/petugas/data-kandang" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>