.custom-bg {
  --background: #f8fafc;
  font-family: "Public Sans", "Noto Sans", sans-serif;
}

.image-section {
  background-image: url('/assets/icon/penyakit2.jpg');
  // background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCZjEXN0fy1Xcxhv9tkDax33F4xG6hOzYNWibYxnlkvZFvl6k0UEC9S-5gtxCp8xsX6d84cM5r3PLg7mtIuHv1hQonJkwypm8SymoZojyOuvN-AU8M0OIv7YIx13xC52gfGX26XimDjTxBX06aXjXuW_3owmrpPBRJhu6pjqKYbHr7_R0KacxqupVv7x1ogIlHvIUp2tP_VH13xOUNosFiMzD0glyrLyXgt3ByCSjFsKo3GjWxht7rzwrDovS0MInpOKcwMZUNggNx9");
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  height: 220px;
  margin: 16px;
}

/* Header */
.custom-header ion-title {
  font-weight: 700;
  color: #0d171b;
  text-align: center;
}

/* Card styling */
.info-card {
  border-radius: 14px;
  margin-bottom: 14px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

ion-card-title {
  color: #0d171b;
  font-size: 16px;
  font-weight: 700;
}

.info-card ion-card-content p {
  color: #0d171b;
  font-size: 14px;
  line-height: 1.5;
}

/* Info row */
.info-row {
  display: grid;
  grid-template-columns: 40% 60%;
  border-top: 1px solid #cfdfe7;
  padding: 8px 0;
}

.label {
  color: #4c809a;
  font-size: 14px;
}

.value {
  color: #0d171b;
  font-size: 14px;
  text-align: right;
}

/* Button */
.btn-container {
  padding: 16px;
}

.update-btn {
  --background: #5bbff1;
  --color: #0d171b;
  font-weight: 700;
  border-radius: 8px;
  text-transform: none;
}

/* Footer tab */
.footer-tabs {
  border-top: 1px solid #e7eff3;
  background: #ffffff;
}

.footer-tabs ion-button {
  flex-direction: column;
  font-size: 12px;
  color: #4c809a;
  font-weight: 500;
}

.footer-tabs ion-button ion-icon {
  font-size: 22px;
  margin-bottom: 3px;
}

.footer-tabs .active-tab {
  color: #0d171b;
}
