<ion-content class="data-hewan-content">

  <!-- Alert jika belum pilih kategori -->
  <div *ngIf="!selectedKategori" class="no-kategori-alert">
    <ion-card>
      <ion-card-content>
        <p>Silakan pilih kelompok hewan terlebih dahulu untuk melanjutkan.</p>
        <ion-button expand="block" color="primary" (click)="pilihKategoriUlang()">
          Pilih Kategori
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>


  <!-- judul kategori yang dipilih  -->

  <div *ngIf="selectedKategori" class="kategori-header">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
       {{ kategoriMapping[selectedKategori]?.label }}
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</div>

  <!-- Form Input (tampil jika kategori sudah dipilih) -->
  <ion-list lines="none" class="list-data-hewan" *ngIf="selectedKategori">
    
    
    <!-- Jenis Hewan -->
    <ion-label position="stacked">Jenis Hewan <span style="color: red;">*</span></ion-label>
    <ion-item>
      <ion-select 
        placeholder="Pilih Jenis Hewan"
        [(ngModel)]="formData.jenisHewan">
        <ion-select-option 
          *ngFor="let item of jenisHewanOptions" 
          [value]="item.value">
          {{ item.label }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Input Jenis Hewan Lainnya (Muncul jika pilih "lainnya_spesifik") -->
    <div *ngIf="formData.jenisHewan === 'lainnya_spesifik'">
      <ion-label position="stacked">Sebutkan Jenis Hewan <span style="color: red;">*</span></ion-label>
      <ion-item>
        <ion-input 
          type="text"
          placeholder="Contoh: Babi, Rusa, Trenggiling, dll"
          [(ngModel)]="formData.jenisHewanLainnya">
        </ion-input>
      </ion-item>
    </div>

    <!-- Input Dinamis Berdasarkan Kategori (Field khusus) -->
    <ng-container *ngFor="let field of currentFormFields">
      
      <!-- Input Text / Number / Tel -->
      <div *ngIf="field.type !== 'date' && field.type !== 'select'">
        <ion-label position="stacked">{{ field.label }}</ion-label>
        <ion-item>
          <ion-input 
            [type]="field.type" 
            [placeholder]="field.placeholder"
            [(ngModel)]="formData[field.name]">
          </ion-input>
        </ion-item>
      </div>

      <!-- Input Select/Dropdown -->
      <div *ngIf="field.type === 'select'">
        <ion-label position="stacked">{{ field.label }}</ion-label>
        <ion-item>
          <ion-select 
            [placeholder]="field.placeholder"
            [(ngModel)]="formData[field.name]">
            <ion-select-option 
              *ngFor="let option of field.options" 
              [value]="option.value">
              {{ option.label }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>

    </ng-container>

    <!-- Jenis Kelamin -->
    <ion-label position="stacked">Jenis Kelamin <span style="color: red;">*</span></ion-label>
    <ion-item>
      <ion-select placeholder="Pilih Jenis Kelamin" [(ngModel)]="formData.jenisKelamin">
        <ion-select-option value="jantan">Jantan</ion-select-option>
        <ion-select-option value="betina">Betina</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-label position="stacked">Umur (bulan) <span style="color:red">*</span></ion-label>
    <ion-item>
      <ion-input type="number" [(ngModel)]="formData.umur"></ion-input>
    </ion-item>


    <!-- ID Kandang (Dropdown) -->
    <ion-label position="stacked">ID Kandang (opsional)</ion-label>
    <ion-item>
      <ion-select 
        placeholder="Pilih Kandang"
        [(ngModel)]="formData.idKandang"
        [disabled]="isLoadingKandang">
        <ion-select-option 
          *ngFor="let kandang of kandangList" 
          [value]="kandang.id">
          Kandang {{ kandang.id }} {{ kandang.nama_kandang ? '- ' + kandang.nama_kandang : '' }}
        </ion-select-option>
      </ion-select>
      <ion-spinner 
        *ngIf="isLoadingKandang" 
        name="crescent" 
        slot="end">
      </ion-spinner>
    </ion-item>

    <!-- ID Pemilik (Dropdown - Tampil Nama) -->
    <ion-label position="stacked">Pemilik (Opsional)</ion-label>
    <ion-item>
      <ion-select 
        placeholder="Pilih Pemilik"
        [(ngModel)]="formData.idPemilik"
        [disabled]="isLoadingPemilik">
        <ion-select-option 
          *ngFor="let pemilik of pemilikList" 
          [value]="pemilik.id">
          {{ pemilik.nama_peternak || pemilik.nama }}
        </ion-select-option>
      </ion-select>
      <ion-spinner 
        *ngIf="isLoadingPemilik" 
        name="crescent" 
        slot="end">
      </ion-spinner>
    </ion-item>

    <!-- Desa (Dropdown) -->
    <ion-label position="stacked">Desa <span style="color: red;">*</span></ion-label>
    <ion-item>
      <ion-select 
        placeholder="Pilih Desa" 
        [(ngModel)]="formData.desa"
        [disabled]="isLoadingDesa">
        <ion-select-option 
          *ngFor="let desa of desaList" 
          [value]="desa.id">
          {{ desa.nama_desa || desa.nama || desa.desa }}
        </ion-select-option>
      </ion-select>
      <ion-spinner 
        *ngIf="isLoadingDesa" 
        name="crescent" 
        slot="end">
      </ion-spinner>
    </ion-item>


  </ion-list>

  <!-- Tombol Aksi (tampil jika kategori sudah dipilih) -->
  <div *ngIf="selectedKategori" class="button-container">
    <ion-button class="btn-save" expand="block" color="success" (click)="simpanData()">
      Simpan
    </ion-button>
  </div>

  <div *ngIf="selectedKategori" class="button-container">
    <ion-button class="btn-cancel" expand="block" color="danger" (click)="batal()">
      Batal
    </ion-button>
  </div>
  
</ion-content>