.data-hewan-content {
  --background: #f8fafb;
  font-family: "Public Sans", "Noto Sans", sans-serif;
}

/* Form List */
.list-data-hewan {
  padding: 0 30px;
  margin-top: 0px;
}

ion-item {
  --background: #e8eff3;
  --min-height: 42px;        /* lebih kecil dari default 56px */
  --padding-start: 10px;
  --inner-padding-end: 10px;
  --padding-top: 4px;
  --padding-bottom: 4px;

  border-radius: 8px;
  margin-bottom: 10px;
}

ion-label {
  font-size: 13px;
  font-weight: 500;
  color: #0e161b;
  margin-bottom: 2px;
}

ion-input,
ion-textarea,
ion-select {
  color: #0e161b;
  font-size: 14px;
  min-height: 24px;  /* biar input nggak bikin tinggi item */
}

ion-textarea {
  --padding-top: 4px;
  --padding-bottom: 4px;
  font-size: 14px;
}


.button-container {
  margin: 0px 0;        /* jarak antar tombol */
  width: 100%;           /* biar full width */
  display: flex;
  justify-content: center;
}

.button-container ion-button {
  --border-radius: 8px;  /* sudut tombol biar lebih halus */
  --padding-top: 12px;
  --padding-bottom: 12px;
  font-size: 16px;
  width: 90%;            /* biar ga terlalu full banget */
  max-width: 400px;      /* batas maksimal */
}

.btn-next {
  --background: #3b82f6;      /* biru */
  --border-radius: 8px;
}

.btn-save {
  --background: #10b981 !important;      /* hijau */
  --border-radius: 8px;
}

.btn-cancel {
  --background: #ef4444;      /* merah */
  --border-radius: 8px;
}
