 <ion-content class="data-kandang-content">

   <ion-toolbar color="">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="petugas/kandang"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Kandang Baru</ion-title> 
  </ion-toolbar>

  <!-- Form Input -->
  <ion-list lines="none" class="list-data-kandang">

    <ion-label position="stacked" >Nama Kandang</ion-label>
    <ion-item> 
      <ion-input 
      type="text" placeholder="Masukan Nama Kandang"
      [(ngModel)]="formData.nama_kandang"></ion-input>
    </ion-item>

    <ion-label position="stacked" >Nama Pemilik</ion-label>
    <ion-item> 
      <ion-select placeholder="Pilih Nama Pemilik"
      [(ngModel)]="formData.peternak_id">
        <ion-select-option *ngFor="let peternak of peternakList" [value]="peternak.id">
          {{ peternak.nama_peternak }}
        </ion-select-option>
      </ion-select>
    </ion-item>


    <ion-label position="stacked">Kapasitas</ion-label>
    <ion-item>
      <ion-input 
        type="number" 
        placeholder="Masukan Kapasitas"
        [(ngModel)]="formData.kapasitas"></ion-input>
    </ion-item>

    <ion-label position="stacked">Desa</ion-label>
    <ion-item>
      <ion-select 
        placeholder="Pilih Desa"
        [(ngModel)]="formData.wilayah_id">
        <ion-select-option 
          *ngFor="let wilayah of wilayahList" 
          [value]="wilayah.id">
          {{ wilayah.nama_desa }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-label position="stacked">Lokasi</ion-label>
    <ion-item>
      <ion-input 
        type="text" 
        placeholder="Contoh: -6.123456, 107.654321"
        [(ngModel)]="formData.titik_kordinat"></ion-input>
      <!-- ✅ TAMBAH TOMBOL GET LOCATION -->
      <ion-button slot="end" fill="clear" (click)="getCurrentLocation()">
        <ion-icon name="location" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-label position="stacked">Komoditas</ion-label>
    <ion-item>
      <ion-input 
        type="text" 
        placeholder="Contoh: Sapi Perah"
        [(ngModel)]="formData.jenis_komoditas"></ion-input>
    </ion-item>

    <ion-label position="stacked">Status Kandang</ion-label>
    <ion-item>
      <ion-select 
        placeholder="Pilih Status Kandang"
        [(ngModel)]="formData.status_kandang">
        <ion-select-option value="Individu">Individu</ion-select-option>
        <ion-select-option value="Kelompok">Kelompok</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-label position="stacked">Pilih Foto</ion-label>
    <ion-item>
      <ion-button expand="block" fill="outline" (click)="takePicture()">
        <ion-icon name="camera" slot="start"></ion-icon>
        Ambil/Pilih Foto
      </ion-button>
    </ion-item>
    <!-- input file untuk laptop / browser -->
    <input 
      id="fileInput"
      type="file"
      accept="image/*"
      hidden
      (change)="onFileSelected($event)">
    <!-- ✅ PREVIEW FOTO -->
    <div *ngIf="previewUrl" class="preview-container">
      <img [src]="previewUrl" alt="Preview Foto Kandang" />
    </div>
  </ion-list>

  <!-- Tombol Simpan -->
   <div class="button-container">
  <ion-button class="btn-next" expand="block" color="primary">Selanjutnya</ion-button>
</div>

<div class="button-container">
    <ion-button 
      class="btn-save" 
      expand="block" 
      color="success"
      (click)="submitForm()">
      <ion-icon name="checkmark-circle" slot="start"></ion-icon>
      Simpan
    </ion-button>
  </div>

  <div class="button-container">
    <ion-button 
      class="btn-cancel" 
      expand="block" 
      color="danger"
      (click)="cancel()">
      <ion-icon name="close-circle" slot="start"></ion-icon>
      Batal
    </ion-button>
  </div>
 
  
</ion-content>

