<ion-content class="data-hewan-content">

  <ion-toolbar color="">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Hewan Baru</ion-title> 
  </ion-toolbar>

  <!-- Form Input -->
  <ion-list lines="none" class="list-data-hewan">
    
    <!--  FIELD YANG TAMPIL DI AWAL -->

    <!-- ID Kandang (opsional) -->
    <ion-label position="stacked">ID Kandang (opsional)</ion-label>
    <ion-item>
      <ion-input 
        type="tel" 
        placeholder="Masukan ID Kandang"
        [(ngModel)]="formData.idKandang">
      </ion-input>
    </ion-item>

    <!-- ID Pemilik (Opsional) -->
    <ion-label position="stacked">ID Pemilik (Opsional)</ion-label>
    <ion-item>
      <ion-input 
        type="tel" 
        placeholder="Masukan ID Pemilik"
        [(ngModel)]="formData.idPemilik">
      </ion-input>
    </ion-item>

    <!-- Desa -->
    <ion-label position="stacked">Desa</ion-label>
    <ion-item>
      <ion-select placeholder="Pilih Desa" [(ngModel)]="formData.desa">
        <ion-select-option value="karangjaya">Karangjaya</ion-select-option>
        <ion-select-option value="cikampek">Cikampek</ion-select-option>
        <ion-select-option value="jatisari">Jatisari</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- FIELD YANG MUNCUL SETELAH PILIH KATEGORI -->

    <!-- Kelompok Hewan -->
    <ion-label position="stacked">Kelompok Hewan</ion-label>
    <ion-item>
      <ion-select 
        placeholder="Pilih Kategori Hewan"
        [(ngModel)]="selectedKategori"
        (ionChange)="onKategoriChange($event)">
        <ion-select-option value="kesayangan">Kesayangan</ion-select-option>
        <ion-select-option value="ruminansia">Ruminansia</ion-select-option>
        <ion-select-option value="unggas">Unggas</ion-select-option>
        <ion-select-option value="primata">Primata</ion-select-option>
        <ion-select-option value="lainnya">Lainnya</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Jenis Hewan (Dinamis sesuai kategori) -->
    <div *ngIf="selectedKategori">
      <ion-label position="stacked">Jenis Hewan</ion-label>
      <ion-item>
        <ion-select 
          placeholder="Pilih Jenis Hewan"
          [(ngModel)]="formData.jenisHewan">
          <ion-select-option 
            *ngFor="let item of jenisHewanOptions" 
            [value]="item.value">
            {{ item.label }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <!-- Input Dinamis Berdasarkan Kategori (Field khusus) -->
    <div *ngIf="selectedKategori">
      <ng-container *ngFor="let field of currentFormFields">
        
        <!-- Input Text / Number / Tel -->
        <div *ngIf="field.type !== 'date' && field.type !== 'select'">
          <ion-label position="stacked">{{ field.label }}</ion-label>
          <ion-item>
            <ion-input 
              [type]="field.type" 
              [placeholder]="field.placeholder"
              [(ngModel)]="formData[field.name]">
            </ion-input>
          </ion-item>
        </div>

        <!-- Input Select/Dropdown -->
        <div *ngIf="field.type === 'select'">
          <ion-label position="stacked">{{ field.label }}</ion-label>
          <ion-item>
            <ion-select 
              [placeholder]="field.placeholder"
              [(ngModel)]="formData[field.name]">
              <ion-select-option 
                *ngFor="let option of field.options" 
                [value]="option.value">
                {{ option.label }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>

      </ng-container>
    </div>

    <!-- Jenis Kelamin -->
    <div *ngIf="selectedKategori">
      <ion-label position="stacked">Jenis Kelamin</ion-label>
      <ion-item>
        <ion-select placeholder="Pilih Jenis Kelamin" [(ngModel)]="formData.jenisKelamin">
          <ion-select-option value="jantan">Jantan</ion-select-option>
          <ion-select-option value="betina">Betina</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

  </ion-list>

  <!-- Tombol Simpan -->
  <div class="button-container" *ngIf="selectedKategori">
    <ion-button 
      expand="block" 
      color="primary"
      (click)="simpanHewan()">
      Simpan
    </ion-button>

    <ion-button 
      expand="block" 
      color="danger"
      (click)="batalForm()">
      Batal
    </ion-button>

  </div>
  
</ion-content>