.edit-profile-content {
  --background: #f8fafb;
  font-family: "Public Sans", "Noto Sans", sans-serif;
}

/* Profile Section */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.profile-photo {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuD9FFPmYqCAkkEfCN82FxnpNoz1DhsPoq47JQ2EyXMROqxN1FCbaMQDUOHYddSbN73f-xJdy5H8UC7S0wPwnVa-SfpnvjddtRdvkrvE4JzVTEFfNQBYwQrDgBntxpFbyn8fu5b1kDW0hFeE9HcpiC94tB63vOhGwLax7FqH3jRgxWoJF5yf6zyONSg2HRocb-ZardSMzTImlxS7vO3QfDDpv5Mr2LqK7xBximNQ3OCk29mw71JcxYGPe0OIMxGd_XE3iZhFSikzVArC");
  background-size: cover;
  background-position: center;
  margin-bottom: 12px;
}

.profile-text h2 {
  font-size: 18px;
  font-weight: 600;
  color: #0e161b;
  margin: 0;
  text-align: center;
}

.profile-text p {
  font-size: 13px;
  color: #507e95;
  margin: 4px 0 0 0;
}

/* Form List */
.form-list {
  padding: 0 24px;
}

ion-item {
  --background: #e8eff3;
  --min-height: 42px;        /* lebih kecil dari default 56px */
  --padding-start: 10px;
  --inner-padding-end: 10px;
  --padding-top: 4px;
  --padding-bottom: 4px;

  border-radius: 8px;
  margin-bottom: 10px;
}

ion-label {
  font-size: 13px;
  font-weight: 500;
  color: #0e161b;
  margin-bottom: 2px;
}

ion-input,
ion-textarea,
ion-select {
  color: #0e161b;
  font-size: 14px;
  min-height: 24px;  /* biar input nggak bikin tinggi item */
}

ion-textarea {
  --padding-top: 4px;
  --padding-bottom: 4px;
  font-size: 14px;
}

/* Button */
.button-container {
  padding: 16px;
}

ion-button {
  --background: #63bce9;
  --color: #0e161b;
  font-weight: 600;
  --border-radius: 8px;
  font-size: 15px;
}
