<ion-header>
  <ion-toolbar color="light">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/petugas/kegiatan" text=""></ion-back-button>
    </ion-buttons>

    <ion-title>Detail Kegiatan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" class="list-section">

    <!-- kegiatan -->
     <h2 class="section-title">Kegiatan</h2>
     <ion-item>
      <ion-icon name="calendar-outline" slot="start" class="icon-bg"></ion-icon>
      <ion-label>Pemeriksaan Kesehatan Hewan</ion-label>
     </ion-item>

     <!-- Date -->
      <ion-item>
        <ion-icon name="calendar-outline" slot="start" class="icon-bg"></ion-icon>
        <ion-label>15 Mei 2025</ion-label>
      </ion-item>


     <!-- timing -->
      <ion-item>
        <ion-icon name="time-outline" slot="start" class="icon-bg"></ion-icon>
        <ion-label>10:00 AM - 11: 00  AM</ion-label>
      </ion-item>

      <!-- lokasi -->
       <ion-item>
        <ion-icon name="location-outline" slot="start" class="icon-bg"></ion-icon>
        <ion-label>Peternakan Jaya Makmur</ion-label>
       </ion-item>

       <!-- deskripsi -->
        <h2 class="section-title">Deskripsi</h2>
        <p class="desc-text">
          Pemeriksaan kesehatan rutin untuk memastikan kondisi hewan ternak tetap optimal.
        </p>


        <!-- petugas -->
         <h2 class="section-title">Petugas</h2>
         <ion-item>
          <!-- <ion-avatar slot="start">
            <img src="https://lh3.googleusercontent.com/aida-public/AB6AXuC9KtxegrlyxptesDIUikoXQ9x0uQXc9krsNn2RaJDiqlQsYuFzNYzw7jszyo1WQfsC7ApyC0_8cyaFx6PsWBetxrGdQ6evKZ7HNHMGFwANzYAd_tMNUNF5qgkY5zm-0UFjXFIuacquqqv3rcxXWNd62IkShAGHi8bYnx_rPzgmjBzVIyxuF3obn1_reNUxG7nH59U-tDr1XG-bmSfv7eRiAc5aIdm96RYkOJTfneiXRyPLCCvo0mhhHGRs9glQMS6cVAAy3bKgv1v8">
          </ion-avatar> -->
          <ion-label>Drh. Budi Santoso</ion-label>
         </ion-item>


         <!-- status -->
          <h2 class="section-title">Status</h2>
          <ion-item>
            <ion-icon name="ellipse-outline" slot="start" class="icon-bg"></ion-icon>
            <ion-label>Belum Dimulai</ion-label>
          </ion-item>
  </ion-list>

  <!-- button -->
   <div class="button-container" routerLink="/petugas/mulai-kegiatan">c
    <ion-button expand="block" color="secondary">Mulai Kegiatan</ion-button>
   </div>
</ion-content>