<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/petugas/buku-lahir"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Kelahiran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Detail Information -->
  <div class="detail-container">
    <div class="detail-item">
      <span class="label">Tanggal Lahir</span>
      <span class="value">18 Agustus 2024</span>
    </div>

    <div class="detail-item">
      <span class="label">ID Anak Hewan</span>
      <span class="value">AN-S-KRW-0824-001</span>
    </div>

     <div class="detail-item">
      <span class="label">Kelompok Hewan</span>
      <span class="value">Ruminansia</span>
    </div>

    <div class="detail-item">
      <span class="label">Jenis Hewan</span>
      <span class="value">Sapi</span>
    </div>

     <div class="detail-item">
      <span class="label">Ras</span>
      <span class="value">Brahmana</span>
    </div>

    <div class="detail-item">
      <span class="label">Jumlah Anak</span>
      <span class="value">1</span>
    </div>

    <div class="detail-item">
      <span class="label">ID Induk</span>
      <span class="value">IN-S-KRW-0034</span>
    </div>

    <div class="detail-item">
      <span class="label">Jenis Kelamin</span>
      <span class="value">Jantan</span>
    </div>

    <div class="detail-item">
      <span class="label">Berat Lahir </span>
      <span class="value">10 kg</span>
    </div>

    <div class="detail-item">
      <span class="label">Status Kelahiran</span>
      <span class="status-badge status-normal">Normal</span>
    </div>
  </div>

  <!-- Action Buttons -->
  <div class="button-container">
    <ion-button expand="block" fill="outline" class="delete-btn">
      <ion-icon name="trash-outline" slot="start"></ion-icon>
      Hapus Catatan
    </ion-button>
    <ion-button expand="block" class="edit-btn">
      <ion-icon name="pencil-outline" slot="start"></ion-icon>
      Ubah Data
    </ion-button>
  </div>

</ion-content>